{%extends 'base.html'%}
{% load crispy_forms_tags %}

{%block title%}
MOdule List
{%endblock title%}


{%block content%}

<h1>Module List</h1>
<h4>Click on Module Name for more details</h4>

<div class="container-fluid">
<div class="row">
<div class="col-sm"> 
    <!-- <a class="btn btn-success" href="{% url 'SRR_new' %}"><h5> New Entry </h5></a> -->
    <a class="btn btn-success" href="{%url 'home'%}"><h5> Back </h5></a>
    

    
</div>

<div class="col-sm" >
<h4> Search Control </h4>
    <!-- <a class="btn btn-success" href="{% url 'SRR_new' %}"><h5> New Entry </h5></a> -->
    <!-- <a class="btn btn-success" href="{% url 'sidings_home' %}"><h5> Back </h5></a> -->
    <form method="POST" action="{%url 'WagonDetailLink'%}">
    {% csrf_token %}
    <input type="text",class="form-control form-group ", id="wagonnumber" name="wagonnumber"  style="background-color: white; color:black" placeholder="Search By Wagon Number" aria-label="Search By Wagon Number" >
            <script>
            $( "#wagonnumber" ).autocomplete({
              source: '{%url 'wagonnumberlink'%}'
                });
            </script> 
    <input type="submit" value="GO" style="background-color: lightcoral; color:black" >
    </form>
    <form method="POST" action="{%url 'ModuleDetailLink2'%}">
    {% csrf_token %}
    <input type="text",class="form-control form-group ", id="moduleName" name="moduleName"  style="background-color: white; color:black" placeholder="Search By Module" aria-label="Search By Module" >
            <script>
            $( "#moduleName" ).autocomplete({
              source: '{%url 'moduleName'%}'
                });
            </script> 
    <input type="submit" value="GO" style="background-color: lightcoral; color:black" >
    </form>
    
</div>
</div>
</div>
<form method="POST" action="{%url 'AddModule'%}">
{% csrf_token %}


<h3 >Add Module</h3>
    <input type="text",class="form-control", id="ModuleName" name="ModuleName"  style="background-color: white; color:black" placeholder="Enter Module Name" aria-label="Enter Module Name" >
    <input type="number",class="form-control form-group ", id="W1" name="W1"  style="background-color: white; color:black" placeholder="Enter Wagon 1" aria-label="Enter Wagon 1" >
             
            
    <input type="number",class="form-control form-group ", id="W2" name="W2"  style="background-color: white; color:black" placeholder="Enter Wagon 2" aria-label="Enter Wagon 2" >
            
            
    <input type="number",class="form-control form-group ", id="W3" name="W3"  style="background-color: white; color:black" placeholder="Enter Wagon 3" aria-label="Enter Wagon 3" >
             
            
    <input type="number",class="form-control form-group ", id="W4" name="W4"  style="background-color: white; color:black" placeholder="Enter Wagon 4" aria-label="Enter Wagon 4" >
             
            
    <input type="number",class="form-control form-group ", id="W5" name="W5"  style="background-color: white; color:black" placeholder="Enter Wagon 5" aria-label="Enter Wagon 5" >
            
    <input type="text",class="form-control form-group ", id="ROHDate" name="ROHDate"  style="background-color: white; color:black" placeholder="Enter ROH Date" aria-label="Enter ROH Date" >
 
    <input type="text",class="form-control form-group ", id="POHDate" name="POHDate"  style="background-color: white; color:black" placeholder="Enter POH Date" aria-label="Enter POH Date" >
        <script>
              $( function() {
              $( "#ROHDate" ).datepicker({ dateFormat: 'yy-mm-dd',changeMonth: true,
            changeYear: true,
            showButtonPanel: true });
              } );
            </script>
        <script>
              $( function() {
              $( "#POHDate" ).datepicker({ dateFormat: 'yy-mm-dd',changeMonth: true,
            changeYear: true,
            showButtonPanel: true });
              } );
            </script>

  <select id="ModuleType" name="ModuleType">
    <option value="BLC">BLC </option>
    <option value="BLL">BLL </option>
        <option value="BLCM">BLCM </option>

        <option value="BFKHN">BFKHN </option>

    <option value="BVZC">BVZC </option>
    <option value="BVZI">BVZI </option>
  </select>
<br>
  <input type="radio" id="modified" name="fav_language" value="True">
  <label for="modified">Modified</label>

  <input type="radio" id="unmodified" name="fav_language" value="Fale">
  <label for="unmodified">Unmodified</label><br>
            
<input type="submit" value="save" style="background-color: lightcoral; color:black"/>
</form>
<table class="table table-bordered">
        <thead>
            <tr>    
                <th>S.No</th>
                <th>Date</th>
                <th>Module Name</th>
                <th>Wagon 1</th>
                <th>Wagon 2</th>
                <th>Wagon 3</th>
                <th>Wagon 4</th>
                <th>Wagon 5</th>
                <th>ModuleType</th>
                <th>Modified</th>
                <th>ROH Date</th>
                <th>POH Date</th>
                
              
                
                
            </tr>
        </thead>
        {%for object in object_list%}
        <tbody>
            <tr class='danger'>
                <td class='text-primary'>{{forloop.counter}}</td>
                <td class='text-primary'>{{object.Date}}</td>
                <td class='text-primary'><a href="{%url 'Module_detail' object.pk %}" target="_blank">{{object.ModuleName}}</a></td> 
                <td class='text-primary'>{{object.Wagon1Number}}</td>
                <td class='text-primary'>{{object.Wagon2Number}}</td>
                <td class='text-primary'>{{object.Wagon3Number}}</td>
                <td class='text-primary'>{{object.Wagon4Number}}</td>
                <td class='text-primary'>{{object.Wagon5Number}}</td>
                <td class='text-primary'>{{object.ModuleType}}</td>
                <td class='text-primary'>{{object.Modified}}</td>
                <td class='text-primary'>{{object.ModuleROHDate}}</td>
                <td class='text-primary'>{{object.ModulePOHDate}}</td>
            </tr>
        </tbody>
        {%endfor%}
</table>
<div class="pagination">
    {% if is_paginated %}

  {% if page_obj.has_previous %}
    <a class="btn page-item  btn-outline-info text-success mb-4" href="?page=1">First</a>
    <a class="btn page-item  btn-outline-info text-success mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn page-item active badge badge-success btn-info text-success mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn page-item active badge badge-success btn-outline-info text-success mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a class="btn page-item btn-outline-info text-success mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn page-item btn-outline-info text-success mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}

{% endif %}
</div>
{%endblock content%}

{% block afterbody %}
<script>
            $( "#moduleName" ).autocomplete({
              source: '{%url 'moduleName'%}'
                });
            </script>

{% endblock afterbody %}
